# Dependencies
node_modules
public/components
vendor

# Cache and compiled
app/database/testing.sqlite
.sass-cache
bootstrap/compiled.php
composer.phar
docs/api.apib
public/builds
public/styleguide
app/tests/meta/coverage

# Development
.idea
.sublimets
sftp-config.json
.env.*.php
.env.php
.vagrant
app/config/testing
app/config/development
app/config/production
app/storage/.gitkeep
app/storage/*
app/storage/*/*
_ide_helper.php
app/config/packages/artdarek
app/config/packages/cartalyst

# Dotfiles
.DS_Store
Thumbs.db
