/* Main SASS CSS file */
body {
  padding-top: 110px; }

.navbar-fixed-top {
  min-height: 110px !important; }

.navbar-nav {
  margin-top: 25px !important; }

h2 {
  font-size: 1.5em;
  margin-bottom: 15px; }

.chosen-select {
  font-size: 1.2em !important; }
