/* Main SASS CSS file */
input.ng-invalid {
  border: 1px solid red !important; }

.navbar-bottom {
  margin-bottom: 5px !important; }

.container33 {
  display: inline-block;
  width: 100%; }
  .container33 .tleft {
    float: left;
    width: 60%;
    text-align: left; }
  .container33 .tright {
    float: left;
    width: 20%;
    text-align: right; }
  .container33 .tcenter {
    float: left;
    width: 20%;
    text-align: center; }

.max-w5 {
  max-width: 480px !important;
  margin-left: auto !important;
  margin-right: auto !important; }

.floatright {
  float: right;
  clear: both; }

.center {
  text-align: center; }

.list-group {
  margin-bottom: 0px !important; }

.loader {
  margin: 6em auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(0, 0, 0, 0.2);
  border-right: 1.1em solid rgba(0, 0, 0, 0.2);
  border-bottom: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #C72929;
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear; }

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em; }

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.btn-wide {
  width: 100% !important; }

.btn-50 {
  width: 50% !important; }

.btn-botm {
  margin-bottom: 15px; }

.planner-time {
  font-size: 1.3em;
  color: #C72929;
  margin-right: 15px; }

.planner-station {
  font-size: 1.2em; }

.badge {
  font-size: 1.3em; }
