/**
* iRail / Spitsgids occupancy icons
*/

.occupancy-icon
{
	display:inline-block;
	margin-right:6px;
}

.occupancy-high-16
{
	background:url(../../images/occupancy-high.svg);
	height:16px;
	width:17px;
}

.occupancy-medium-16
{
	background:url(../../images/occupancy-medium.svg);
	height:16px;
	width:17px;
}

.occupancy-low-16
{
	background:url(../../images/occupancy-low.svg);
	height:16px;
	width:17px;
}
