/**
 * Oneliner input group
 */

.input-group-oneliner {
	position: relative;
	> input {
		padding-left: 3.5em;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.input-group-label {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 4em;
	height: 100%;
	padding: 10px 12px;
	font-size: 18px;
	line-height: 1.33;
	font-weight: 400;
	text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.has-affix > input {
	padding-right: 2.2em;
}

.input-group-affix {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		height: 100%;
		padding: 10px 16px;
		font-size: 18px;
		line-height: 1.33;
		font-weight: 400;
}
