/**
 * Main iRail theme
 * This should be split up in multiple files
 * and this file should disappear
 */

.ng-invalid {
  border-color: $brand-danger;
}

.delay-route {
  color: $brand-danger;
}

.delay {
  color: $brand-danger;
}

.container33 {
  display: inline-block;
  width: 100%;

  .platform-left {
    float: left;
    width: 20%;
    text-align: left;
  }

  .time-right {
    margin-top: 5px;
    float: left;
    width: 20%;
    text-align: right;
  }

  .station-middle {
    margin-top: 5px;
    float: left;
    width: 50%;
    text-align: left;
  }

  .delay-right {
    margin-top: 5px;
    float: left;
    width: 10%;
    text-align: left;
  }
}

.liveboard-list {
  font-size: 1.3em;
}

.max-w5 {
  max-width: 480px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.list-group {
  margin-bottom: 0px !important;
}

.loader {
  margin: 6em auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid $brand-primary;
  animation: load8 1.1s infinite linear;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.btn-50 {
  width: 50% !important;
}

.btn-botm {
  margin-bottom: 15px;
}

.ul-lg {
  li {
    font-size: 1.4em;
  }
}

.row.ng-hide-remove {
  animation: fadeIn 0.7s;
}

a.bounceIn.ng-hide-remove {
  animation: bounceIn 0.7s;
}

.row.loading.ng-hide-remove {
  animation: bounceIn 0.7s;
}

.row.routeplanner.ng-hide-remove {
  animation: fadeInDown 0.7s;
}

.label-lg {
  font-size: 1.5em;
}
